# Packages used by the Makefile
#
# To add/update dependencies, update dev-requirements.in (not the
# generated dev-requirements.txt), run `make update-requirements`,
# then `make bootstrap`.

sqlalchemy>=1.4,<2
alembic
markupsafe==2.1.5

# Format files
flake8

# Running tests
pytest>=6.2,<7
