alembic==1.13.3
    # via -r test-requirements.in
cachetools==5.5.0
    # via tox
chardet==5.2.0
    # via tox
colorama==0.4.6
    # via tox
distlib==0.3.9
    # via virtualenv
exceptiongroup==1.2.2
    # via pytest
filelock==3.16.1
    # via
    #   tox
    #   virtualenv
iniconfig==2.0.0
    # via pytest
mako==1.3.6
    # via alembic
markupsafe==3.0.2
    # via mako
mock==5.1.0
    # via -r test-requirements.in
more-itertools==10.5.0
    # via -r test-requirements.in
mysql-connector==2.2.9
    # via -r test-requirements.in
mysqlclient==2.2.5
    # via -r test-requirements.in
packaging==24.1
    # via
    #   pyproject-api
    #   pytest
    #   tox
platformdirs==4.3.6
    # via
    #   tox
    #   virtualenv
pluggy==1.5.0
    # via
    #   pytest
    #   tox
pyproject-api==1.8.0
    # via tox
pytest==8.3.3
    # via -r test-requirements.in
sqlalchemy==2.0.36
    # via
    #   -r test-requirements.in
    #   alembic
tomli==2.0.2
    # via
    #   pyproject-api
    #   pytest
    #   tox
tox==4.23.2
    # via -r test-requirements.in
typing-extensions==4.12.2
    # via
    #   alembic
    #   sqlalchemy
    #   tox
virtualenv==20.27.0
    # via tox
