# Packages used when running tests. Installed by tox into multiple
# virtualenvs.
#
# To add/update dependencies, update test-requirements.in (not the
# generated test-requirements.txt) and run `make update-requirements`

sqlalchemy>=1.4,<2
alembic
markupsafe==2.1.5

mysqlclient
mysql-connector

pytest>=6.2,<7
tox
mock
more-itertools
