name: Linter

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: lint
    runs-on: [self-hosted, X64]
    steps:
      - uses: actions/checkout@v1
      - uses: docker://hawkingrei/tind:v5.1.1
        name: __all__
        with:
          args: |
            bash -c "pwd && ls && cat /etc/os-release && tox -e lint"
