name: Linter

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: lint
    runs-on: [self-hosted,X64]
    container: hub-new.pingcap.net/sqlalchemy-tidb/test_env:20210817 
    steps:
      - name: lint
        uses: docker://hub-new.pingcap.net/sqlalchemy-tidb/test_env:20210817 
        run: tox -e lint
